# virtualenv
venv/
.vscode
# backup files from vim
**/*.swp

# python byte code files
**/*.pyc

# dd dumps
**/*.sql

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# sqlite databases
**/*.sqlite

# pgql database
pgdb/

# information and resources
README_CONF.md

# log files
logs/**

# IDE Files
.idea/
.idea/*.*
.idea/**
.idea/*

# IDE Files
.ebextensions/
.ebextensions/**

# ignore config.py
config.py

.DS_Store
*.rdb
