<!DOCTYPE html>
<html lang="en">
  <head>
    {% include 'css.html' %}
    {% block additionalcss %}{% endblock %}

    <!-- Custom Theme Style -->
    <!-- firebase analytics -->
    <script src="https://www.gstatic.com/firebasejs/5.4.2/firebase.js"></script>
    <script>
      // Initialize Firebase
      var config = {
        apiKey: "AIzaSyBFk7ehHlwPa4tveiC2ONuGX6fzwAqZ4Vw",
        authDomain: "tremap-expansion.firebaseapp.com",
        databaseURL: "https://tremap-expansion.firebaseio.com",
        projectId: "tremap-expansion",
        storageBucket: "tremap-expansion.appspot.com",
        messagingSenderId: "654505625570"
      };
      firebase.initializeApp(config);
    </script>

    <!-- google tracking -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-124447569-2"></script>
    <script>
     window.dataLayer = window.dataLayer || [];
     function gtag(){dataLayer.push(arguments);}
     gtag('js', new Date());

     gtag('config', 'UA-124447569-2');
    </script>


    <link href="{{ url_for('static', filename='css/custom.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"> </script>
    <script src="{{ url_for('static', filename='js/app.js') }}"> </script>
    <title>{% block title %} {% endblock %}</title>
  </head>

  <body class="nav-md">
    <div class="container body">
      <div class="main_container">
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}

            {% for category, message in messages %}
             {% if category == 'success' %}
                <div class="alert alert-sucess mb-3" role="alert">
                  {{message}}
                </div>
            {% endif %}
            {% if category == 'error' %}
                <div  class="alert alert-danger mb-3" role="alert">
                  {{message}}
                </div>
            {% endif %}

            {% endfor %}


          {% endif %}
        {% endwith %}
        <div class="col-md-3 left_col">
          <div class="left_col scroll-view">
            <div class="navbar nav_title" style="border: 0;">
              <a href="/" class="site_title"><img src="{{ url_for('static', filename='images/logo.png') }}" class="logo" /></a>
            </div>
            <div class="clearfix"></div>

            <!-- menu profile quick info -->
            <div class="profile">
              <div class="profile_pic">
                <img src="/static/images/user.png" alt="..." class="img-circle profile_img">
              </div>
              <div class="profile_info">
                <span>Welcome,</span>
                <h2>{{current_user.name}}</h2>
              </div>
            </div>
            <!-- /menu profile quick info -->

            <br />
            {% include 'sidebar-menu.html' %}


            {% include 'footer-menu.html' %}

            
          </div>
        </div>

        {% include 'top-nav.html' %}

        <!-- page content -->
        <div class="right_col" role="main">
          {% block content %} {% endblock %}
        </div>
        <!-- /page content -->

        <!-- footer content -->
        {% include 'footer.html' %}
        <!-- /footer content -->
      </div>
    </div>

    <!-- admin modals -->
    {% include 'admin/control-modals.html'%}

    {% include 'javascripts.html' %}
    {% block additionaljs %}{% endblock %}

    <!-- Custom Theme Scripts -->
    <script src="/static/js/custom.min.js"></script>

    <!-- Flot -->
      {% block javascript %}{% endblock %}
    <!-- /bootstrap-daterangepicker -->
  </body>
</html>