id = Column(Integer, primary_key=True)
  selection_id = Column(ForeignKey(u'selected_applications.id'), index=True)
  english = Column(Integer)
  maths = Column(Integer)
  date_added = db.Column(db.DateTime(), default=datetime.utcnow)
  interview_id = Column(ForeignKey(u'interview.id'), index=True)
  about = Column(Integer)
  total_score = Column(Integer)
  motivation = Column(Integer)
  community_work = Column(Integer)
  mentality = Column(Integer)
  selling = Column(Integer)
  health = Column(Integer)
  investment = Column(Integer)
  interpersonal = Column(Integer)
  commitment = Column(Integer)
  interview_total_score = Column(Integer)
  can_join = Column(Integer, server_default=text("'0'"))
  qualify_training = Column(Integer)
  invited_training = Column(Integer)
  confirmed_attendance = Column(Integer)
  user_id = Column(ForeignKey(u'users.id'), index=True)
