
  <!-- selection_id = Column(ForeignKey(u'selected_applications.id'), index=True)

  interview_id = Column(ForeignKey(u'interview.id'), index=True)
  motivation = Column(Integer)
  community_work = Column(Integer)
  mentality = Column(Integer)
  selling = Column(Integer)
  health = Column(Integer)
  investment = Column(Integer)
  interpersonal = Column(Integer)
  commitment = Column(Integer)
  interview_total_score = Column(Integer)
  can_join = Column(Integer, server_default=text("'0'"))
  qualify_training = Column(Integer)
  invited_training = Column(Integer)
  confirmed_attendance = Column(Integer)
  user_id = Column(ForeignKey(u'users.id'), index=True) -->
  <div class="modal-dialog modal-lg">
                        <div class="modal-content">

                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
                            </button>
                            <h4 class="modal-title" id="myModalLabel">Interview Score <span class="right" id="calculated_score">0</span></h4>
                          </div>
                          <div class="modal-body">
                              <div class="x_panel">
                                <div class="x_title">
                                  <h2>Ensure the required fields are filled out<small>* required</small></h2>
                                  <div class="clearfix"></div>
                                </div>
                                <div class="x_content">
                                  <!-- ========================================================================================= -->
                                  <br>
                                  <form class="form-horizontal form-label-left input_mask">

                                    <div class="form-group hidden">
                                     <label class="control-label col-md-3 col-sm-3 col-xs-12">Selection ID</label>
                                     <div class="col-md-9 col-sm-9 col-xs-12">
                                       <input type="text" id="selection_id" class="form-control" placeholder="selected Application">
                                     </div>
                                   </div>
                                    <div class="form-group">
                                     <label class="control-label col-md-3 col-sm-3 col-xs-12">Motivation</label>
                                     <div class="col-md-9 col-sm-9 col-xs-12">
                                       <input type="text" onblur="findTotal()" id="motivation" class="form-control calculate" placeholder="Eg 50">
                                     </div>
                                   </div>
                                    <div class="form-group">
                                     <label class="control-label col-md-3 col-sm-3 col-xs-12">Community Work</label>
                                     <div class="col-md-9 col-sm-9 col-xs-12">
                                       <input type="text" onblur="findTotal()" id="community_work" class="form-control calculate" placeholder="Eg 50">
                                     </div>
                                   </div>
                                    <div class="form-group">
                                     <label class="control-label col-md-3 col-sm-3 col-xs-12">Mentality</label>
                                     <div class="col-md-9 col-sm-9 col-xs-12">
                                       <input type="text" onblur="findTotal()" id="mentality" class="form-control calculate" placeholder="Eg 50">
                                     </div>
                                   </div>
                                    <div class="form-group">
                                     <label class="control-label col-md-3 col-sm-3 col-xs-12">Selling</label>
                                     <div class="col-md-9 col-sm-9 col-xs-12">
                                       <input type="text" onblur="findTotal()" id="selling" class="form-control calculate" placeholder="Eg 50">
                                     </div>
                                   </div>
                                    <div class="form-group">
                                     <label class="control-label col-md-3 col-sm-3 col-xs-12">Health</label>
                                     <div class="col-md-9 col-sm-9 col-xs-12">
                                       <input type="text" onblur="findTotal()" id="health" class="form-control calculate" placeholder="Eg 50">
                                     </div>
                                   </div>
                                    <div class="form-group">
                                     <label class="control-label col-md-3 col-sm-3 col-xs-12">Investment</label>
                                     <div class="col-md-9 col-sm-9 col-xs-12">
                                       <input type="text" onblur="findTotal()" id="investment" class="form-control calculate" placeholder="Eg 50">
                                     </div>
                                   </div>
                                    <div class="form-group">
                                     <label class="control-label col-md-3 col-sm-3 col-xs-12">Interpersonal </label>
                                     <div class="col-md-9 col-sm-9 col-xs-12">
                                       <input type="text" onblur="findTotal()" id="interpersonal" class="form-control calculate" placeholder="Eg 50">
                                     </div>
                                   </div>
                                    <div class="form-group">
                                     <label class="control-label col-md-3 col-sm-3 col-xs-12">Commitment</label>
                                     <div class="col-md-9 col-sm-9 col-xs-12">
                                       <input type="text" onblur="findTotal()" id="commitment" class="form-control calculate" placeholder="Eg 50">
                                     </div>
                                   </div>
                                    <div class="form-group hidden">
                                     <label class="control-label col-md-3 col-sm-3 col-xs-12">Total Score</label>
                                     <div class="col-md-9 col-sm-9 col-xs-12">
                                       <input type="text" onblur="findTotal()" id="interview_total_score" class="form-control calculate" placeholder="Eg 50">
                                     </div>
                                   </div>
                                    <div class="form-group">
                                     <label class="control-label col-md-3 col-sm-3 col-xs-12">Can Join</label>
                                     <div class="col-md-9 col-sm-9 col-xs-12">
                                       <input type="text" onblur="findTotal()" id="can_join" class="form-control calculate" placeholder="Eg 50">
                                     </div>
                                   </div>
                                    <div class="form-group">
                                     <label class="control-label col-md-3 col-sm-3 col-xs-12">Qualify Training</label>
                                     <div class="col-md-9 col-sm-9 col-xs-12">
                                       <input type="text" onblur="findTotal()" id="qualify_training" class="form-control calculate" placeholder="Eg 50">
                                     </div>
                                   </div>
                                    <div class="form-group">
                                     <label class="control-label col-md-3 col-sm-3 col-xs-12">Invited for Training</label>
                                     <div class="col-md-9 col-sm-9 col-xs-12">
                                       <input type="text" onblur="findTotal()" id="invited_training" class="form-control calculate" placeholder="Eg 50">
                                     </div>
                                   </div>
                                    <div class="form-group">
                                     <label class="control-label col-md-3 col-sm-3 col-xs-12">Confirmed Attendance</label>
                                     <div class="col-md-9 col-sm-9 col-xs-12">
                                       <input type="text" onblur="findTotal()" id="confirmed_attendance" class="form-control calculate" placeholder="Eg 50">
                                     </div>
                                   </div>
                                    <div class="form-group">
                                     <label class="control-label col-md-3 col-sm-3 col-xs-12">user Id</label>
                                     <div class="col-md-9 col-sm-9 col-xs-12">
                                       <input type="text" onblur="findTotal()" id="user_id" class="form-control calculate" placeholder="Eg 50">
                                     </div>
                                   </div>

                                    <div class="ln_solid"></div>


                                  </form>
                                  <!-- ========================================================================================= -->
                                </div>
                              </div>

                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                            <button type="button" id="save-details" class="btn btn-primary">Save changes</button>
                          </div>

                        </div>
                      </div>
