 <!-- jQuery -->
    <script src="/static/js/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="/static/js/bootstrap.min.js"></script>
    <!-- FastClick -->
    <script src="/static/js/fastclick.js"></script>
    <!-- NProgress -->
    <script src="/static/js/nprogress.js"></script>
    <!-- Chart.js -->
    <script src="/static/js/Chart.min.js"></script>
    <!-- jQuery Sparklines -->
    <script src="/static/js/jquery.sparkline.min.js"></script>
    <!-- Flot -->
    <script src="/static/js/jquery.flot.js"></script>
    <script src="/static/js/jquery.flot.pie.js"></script>
    <script src="/static/js/jquery.flot.time.js"></script>
    <script src="/static/js/jquery.flot.stack.js"></script>
    <script src="/static/js/jquery.flot.resize.js"></script>
    <!-- Flot plugins -->
    <script src="/static/js/jquery.flot.orderBars.js"></script>
    <script src="/static/js/jquery.flot.spline.min.js"></script>
    <script src="/static/js/curvedLines.js"></script>
    <!-- DateJS -->
    <script src="/static/js/date.js"></script>
    <!-- bootstrap-daterangepicker -->
    <script src="/static/js/moment.min.js"></script>
    <script src="/static/js/daterangepicker.js"></script>

 <script src="/static/js/daterangepicker.js"></script>

    <script src="/static/js/bootstrap-progressbar.min.js"></script>
    <!-- iCheck -->
    <script src="/static/js/icheck.min.js"></script>
    <!-- PNotify -->
    <script src="/static/js/pnotify.js"></script>
    <script src="/static/js/pnotify.buttons.js"></script>
    <script src="/static/js/pnotify.nonblock.js"></script>
    
