{% import "bootstrap/wtf.html" as wtf %}
<!DOCTYPE html>
<html lang="en">
  <head>
    {% include 'css.html' %}
    {% block additionalcss %}{% endblock %}

    <!-- Custom Theme Style -->
    <link href="{{ url_for('static', filename='css/custom.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"> </script>
  </head>

  <body class="login">
    <div>
      

      <div class="login_wrapper">
        <div class="animate form login_form">
          <section class="login_content">
              {% block content %}{% endblock %}

            <div class="separator">
              

                <div class="clearfix"></div>
                <br />

                <div>
                  <h1><img src="/static/images/lg-logo.png" height="25px" /> Living Goods</h1>
                  <p>©2017 All Rights Reserved.</p>
                </div>
              </div>
            
          </section>
        </div>
      </div>
    </div>
  </body>
</html>
