{% extends 'base.html' %}
{% block content %}
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>{{mapping.name}} <small>{{mapping.name}}</small></h3>
              </div>
            </div>

            <div class="clearfix"></div>
              <div class="row">
              <div class="col-md-12">
                <div class="">
                  <div class="x_content">
                    <div class="row">

                      <div class="col-md-3 col-xs-12 widget_3 widget_tally_box">
                        <div class="x_panel fixed_height_600">
                          <div class="x_title">
                            <h2>Mapping Details</h2>
                            <div class="clearfix"></div>
                          </div>
                          <div class="x_content">

                            <div>
                              <ul class="list-inline widget_tally">
                                <li>
                                  <p>
                                    <span class="align_text_left month">Contact Person</span>
                                    <span class="details">{{mapping.contact_person}}</span>
                                  </p>
                                </li>
                                <li>
                                  <p>
                                    <span class="align_text_left month">Contact Person Phone</span>
                                    <span class="details">{{mapping.phone}}</span>
                                  </p>
                                </li>
                                <li>
                                  <p>
                                    <span class="align_text_left month">Added by</span>
                                    <span class="details">{{mapping.owner.name}}</span>
                                  </p>
                                </li>
                                <li>
                                  <p>
                                    <span class="align_text_left  month">Country </span>
                                    <span class="details">{{mapping.country}}</span>
                                  </p>
                                </li>
                                <li>
                                  <p>
                                    <span class="align_text_left month">County</span>
                                    <span class="details">{{mapping.to_json().county_name}}</span>
                                  </p>
                                </li>
                                <li>
                                  <p>
                                    <span class="align_text_left month">District</span>
                                    <span class="details">{{mapping.district}}</span>
                                  </p>
                                </li>
                                <li>
                                  <p>
                                    <span class="align_text_left month">Sub County </span>
                                    <span class="details">{{mapping.to_json().subcounty_name}}</span>
                                  </p>
                                </li>
                                <li>
                                  <p>
                                    <span class="align_text_left month">Date Added </span>
                                    <span class="details">{{mapping.date_added}}</span>
                                  </p>
                                </li>
                                <li>
                                  <p>
                                    <span class="align_text_left month">Client Time</span>
                                    <span class="details">{{mapping.client_time}}</span>
                                  </p>
                                </li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>


                      <div class="col-md-6 col-xs-12 widget_6 widget_tally_box">
                        <div class="x_panel fixed_height_600">
                          <div class="x_title">
                            <h2>{{parishes.count()}} Parishes</h2>
                            <div class="clearfix"></div>
                          </div>
                          <div class="x_content">
                            <span id="map-chart" data-percent="86"></span>
                          </div>
                        </div>
                      </div>


                      <div class="col-md-3 col-xs-12 widget_3 widget_tally_box">
                        <div class="x_panel ui-ribbon-container fixed_height_600">
                          <div class="ui-ribbon-wrapper">
                            <div class="ui-ribbon">
                              {{villages.count()}} So far
                            </div>
                          </div>
                          <div class="x_title">
                            <h2>Mapped Parishes - {{parishes.count()}} </h2>
                            <div class="clearfix"></div>
                          </div>
                          <div class="x_content">

                            <ul class="legend list-unstyled">
                              {% if parishes.count() < 1 %}
                                <li>
                                  <p>
                                    <span class="icon"><i class="fa fa-square dark"></i></span> <span class="name">No Parish Mapped</span>
                                  </p>
                                </li>
                              {% else %}
                                {% for parish in parishes %}
                                  <li>
                                    <p>
                                      <span class="icon"><i class="fa fa-square dark"></i></span> <span class="name">{{parish.name}}</span>
                                    </p>
                                  </li>
                                {% endfor %}
                              {% endif %}
                            </ul>
                            <div class="x_title">
                              <h2>Mapped Villages - {{villages.count()}} </h2>
                              <div class="clearfix"></div>
                            </div>

                            <ul class="legend list-unstyled">
                                {% for village in villages %}
                                  <li>
                                    <p>
                                      <span class="icon"><i class="fa fa-square {{color|random}}"></i></span> <span class="name">{{village.village_name}}</span>
                                    </p>
                                  </li>
                                {% endfor %}
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- end -->
          </div>
{% endblock %}

{% block javascript %}
<script>
var mappingId='{{mapping.id}}';
var mappingName='{{mapping.name}}';
      $(document).ready(function() {
        var handleDataTableButtons = function() {
          if ($("#datatable-buttons").length) {
            $("#datatable-buttons").DataTable({
              fixedHeader: true,
              keys: true,
              dom: "Bfrtip",
              buttons: [
                {
                  extend: "copy",
                  className: "btn-sm"
                },
                {
                  extend: "csv",
                  className: "btn-sm"
                },
                {
                  extend: "excel",
                  className: "btn-sm"
                },
                {
                  extend: "pdfHtml5",
                  className: "btn-sm"
                },
                {
                  extend: "print",
                  className: "btn-sm"
                },
              ],
              responsive: true
            });
          }
        };

        TableManageButtons = function() {
          "use strict";
          return {
            init: function() {
              handleDataTableButtons();
            }
          };
        }();

        $('#datatable-scroller').DataTable({
          ajax: "js/datatables/json/scroller-demo.json",
          deferRender: true,
          scrollY: 380,
          scrollCollapse: true,
          scroller: true
        });

        var $datatable = $('#datatable-checkbox');

        $datatable.dataTable({
          'order': [[ 1, 'asc' ]],
          'columnDefs': [
            { orderable: false, targets: [0] }
          ]
        });
        $datatable.on('draw.dt', function() {
          $('input').iCheck({
            checkboxClass: 'icheckbox_flat-green'
          });
        });

        TableManageButtons.init();
      });
    </script>
{% endblock %}
{% block additionaljs %}

{% include 'partials/highcharts.html' %}
<script src="{{ url_for('static', filename='js/mapping-chart.js') }}"></script>
<!-- Datatables -->


    <script src="{{ url_for('static', filename='js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/dataTables.bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/dataTables.buttons.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/buttons.bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/buttons.flash.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/buttons.html5.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/buttons.print.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/dataTables.fixedHeader.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/dataTables.keyTable.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/dataTables.responsive.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/responsive.bootstrap.js') }}"></script>
    <script src="{{ url_for('static', filename='js/datatables.scroller.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jszip.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/pdfmake.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/vfs_fonts.js') }}"></script>
{% endblock %}
{% block additionalcss %}
    <link href="{{ url_for('static', filename='css/nprogress.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/flat/green.css') }}"rel="stylesheet">
    <!-- Datatables -->
    <link href="{{ url_for('static', filename='css/dataTables.bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/buttons.bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/fixedHeader.bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/responsive.bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/scroller.bootstrap.min.css') }}" rel="stylesheet">

{% endblock %}
