<!-- sidebar menu -->
            <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
              <div class="menu_section">
                <h3>&nbsp;</h3>
                <ul class="nav side-menu">
                  <li><a><i class="fa fa-home"></i> Home <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="/">Dashboard</a></li>
                      <!-- <li><a href="/branch">Branches</a></li>
                      <li><a href="/cohort">Cohorts</a></li> -->
                    </ul>
                  </li>

                    {% if current_user.role_id == 2 %}

                  <li><a><i class="fa fa-home"></i> Administration <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="{{ url_for('administration.admin_users') }}">Users</a></li>
                      <li><a href="{{ url_for('administration.administration_location_data') }}">Locations</a></li>
                      <li><a href="{{ url_for('administration.view_api_error_logs') }}">API Error Log</a></li>
                      <li><a href="#" id="settings"> Archieve  </a></li>
                    </ul>
                  </li>

                    {% endif %}
                  <li><a><i class="fa fa-map-marker"></i> Mappings <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="/mappings">Mappings</a></li>
                      <!--<li><a href="/region">Regions</a></li>
                      <li><a href="/county">Counties</a></li>
                      <li><a href="/district">Districts</a></li>
                      <li><a href="/sub-county">Sub Counties</a></li>
                      <li><a href="/parish">Parishes</a></li>
                      <li><a href="/ward">Wards</a></li>
                      <li><a href="/village">Villages</a></li>
                      <li><a href="/locations">All locations</a></li> -->
                    </ul>
                  </li>
                  <li><a><i class="fa fa-list-ol"></i> Recruitments <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="/recruitments">Recruitments</a></li>
                    </ul>
                  </li>
                  <li><a><i class="fa fa-graduation-cap"></i> Trainings <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="/trainings">Trainings</a></li>
                      <li><a href="{{url_for('main.training_session_topics')}}">Topics</a></li>
                        <li><a href="{{ url_for('main.training_questions') }}">Questions</a></li>
                        <li><a href="{{ url_for('main.training_exams') }}">Exams</a></li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
            <!-- /sidebar menu -->
