<!-- sidebar menu -->
            <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
              <div class="menu_section">
                <h3>General</h3>
                <ul class="nav side-menu">
                  <li><a><i class="fa fa-home"></i> Home <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="/">Dashboard</a></li>
                      <!-- <li><a href="/branch">Branches</a></li>
                      <li><a href="/cohort">Cohorts</a></li> -->
                    </ul>
                  </li>
                  <li><a><i class="fa fa-home"></i> Administration <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <!-- <li><a href="/regions">Regions</a></li> -->
                      <li><a href="/branches">Branches</a></li>
                      <li><a href="/cohort">Cohorts</a></li>
                      <li><a href="/educations">Education</a></li>
                      <li><a href="/education-level">Education Levels</a></li>
                      <li><a href="/refferals">Referrals</a></li>
                      <!-- <li><a href="/role">Roles</a></li>
                      <li><a href="/user">Users</a></li> -->
                    </ul>
                  </li>
                  <li><a><i class="fa fa-edit"></i> Recruitments <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="/applications">Applications</a></li>
                      <li><a href="/selected-applications">Selection</a></li>
                      <!-- <li><a href="form_advanced.html">Selection</a></li>
                      <li><a href="form_validation.html">Interviews</a></li>
                      <li><a href="form_wizards.html">Interview Scores</a></li>
                      <li><a href="form_upload.html">Training Invitation</a></li>
                      <li><a href="form_buttons.html">Training Allocations</a></li> -->
                    </ul>
                  </li>
                  <li><a><i class="fa fa-desktop"></i> Mappings <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="/countries">Countries</a></li>
                      <li><a href="/regions">Regions</a></li>
                      <li><a href="/counties">Counties</a></li>
                      <li><a href="/districts">Districts</a></li>
                      <li><a href="/sub-counties">Sub Counties</a></li>
                      <li><a href="/parishes">Parishes</a></li>
                      <li><a href="/wards">Wards</a></li>
                      <li><a href="/villages">Villages</a></li>
                      <li><a href="/locations">All locations</a></li>
                      <!-- <li><a href="calendar.html">Calendar</a></li> -->
                    </ul>
                  </li>
                  <!-- <li><a><i class="fa fa-table"></i> Tables <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="tables.html">Tables</a></li>
                      <li><a href="tables_dynamic.html">Table Dynamic</a></li>
                    </ul>
                  </li>-->
                  <!-- <li><a><i class="fa fa-bar-chart-o"></i> Data Presentation <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="chartjs.html">Chart JS</a></li>
                      <li><a href="chartjs2.html">Chart JS2</a></li>
                      <li><a href="morisjs.html">Moris JS</a></li>
                      <li><a href="echarts.html">ECharts</a></li>
                      <li><a href="other_charts.html">Other Charts</a></li>
                    </ul>
                  </li>-->
                  <!-- <li><a><i class="fa fa-clone"></i>Layouts <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="fixed_sidebar.html">Fixed Sidebar</a></li>
                      <li><a href="fixed_footer.html">Fixed Footer</a></li>
                    </ul>
                  </li> -->
                </ul>
              </div>
              <!-- <div class="menu_section">
                <h3>Live On</h3>
                <ul class="nav side-menu">
                  <li><a><i class="fa fa-bug"></i> Additional Pages <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="e_commerce.html">E-commerce</a></li>
                      <li><a href="projects.html">Projects</a></li>
                      <li><a href="project_detail.html">Project Detail</a></li>
                      <li><a href="contacts.html">Contacts</a></li>
                      <li><a href="profile.html">Profile</a></li>
                    </ul>
                  </li>
                  <li><a><i class="fa fa-windows"></i> Extras <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="page_403.html">403 Error</a></li>
                      <li><a href="page_404.html">404 Error</a></li>
                      <li><a href="page_500.html">500 Error</a></li>
                      <li><a href="plain_page.html">Plain Page</a></li>
                      <li><a href="login.html">Login Page</a></li>
                      <li><a href="pricing_tables.html">Pricing Tables</a></li>
                    </ul>
                  </li>
                  <li><a><i class="fa fa-sitemap"></i> Users <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        <li><a href="#level1_1">Add User</a>
                        <li><a>Level One<span class="fa fa-chevron-down"></span></a>
                          <ul class="nav child_menu">
                            <li class="sub_menu"><a href="level2.html">Level Two</a>
                            </li>
                            <li><a href="#level2_1">Level Two</a>
                            </li>
                            <li><a href="#level2_2">Level Two</a>
                            </li>
                          </ul>
                        </li>
                        <li><a href="#level1_2">Level One</a>
                        </li>
                    </ul>
                  </li>
                  <li><a href="javascript:void(0)"><i class="fa fa-laptop"></i> Landing Page <span class="label label-success pull-right">Coming Soon</span></a></li>
                </ul>
              </div>-->

            </div>
            <!-- /sidebar menu -->
