{% extends "base.html" %}
{% block title %}Questions{% endblock %}

{% block content %}
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>{{ title }}
                    <small>{{ title }}</small>
                </h3>
            </div>

            <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for...">
                        <span class="input-group-btn">
            <button class="btn btn-default" type="button">Go!</button>
          </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="clearfix"></div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">

                    <ul class="nav navbar-right panel_toolbox">
                        <li class="btn-group closed" style="display: inline-block;">
                            <a class="add-question-button user-action btn btn-primary btn-xs" href="#">
                                <i class="fa fa-save"></i> Save Changes</a>
                        </li>
                    </ul>

                    <div class="clearfix"></div>
                </div>
                <div class="x_content">

                    <div class="row">

                        <div class="col-xs-12 col-md-8">

                            <small class="text-info"><i class="fa fa-info"></i> Question</small>
                            <h2>{{ question.question }}</h2>

                            &nbsp;

                            <small class="text-info"><i class="fa fa-info"></i> Question Options</small>
                            <ul>
                                <li>Option 1</li>
                                <li>Option 2</li>
                                <li>Option 3</li>
                                <li>Option 4</li>
                            </ul>

                        </div>

                        <div class="col-xs-12 col-md-4">

                            <small class="text-info"><i class="fa fa-info"></i> Question Type</small>
                            <select class="form-control" name="question_type" id="question_typ">
                                <option value="none">-- None --</option>
                            </select>
                            <hr>

                            <small class="text-info"><i class="fa fa-info"></i> Question Topics</small>
                            <select class='form-control' name="question_topics" id="question_topics">
                                <option value="none">-- None --</option>
                            </select>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}