{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}Questions{% endblock %}

{% block content %}
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>{{ title }}
                    <small>{{ title }}</small>
                </h3>
            </div>

            <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for...">
                        <span class="input-group-btn">
            <button class="btn btn-default" type="button">Go!</button>
          </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="clearfix"></div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Add Questions
                        <small>Upload CSV to add new Questions</small>
                    </h2>



                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <p>
                        Upload CSV file to create questions.
                        You can download a sample CSV through the following link: <a href="/static/sample/questions_sample.csv">Sample CSV Download</a>
                    </p>

                    <p>
                        Please note the following:
                        <ul>
                    <li>
                        The <strong>question</strong>, <strong>answer</strong> and <strong>atleast two choices</strong>
                        are required
                    </li>
                    <li>The <strong>allocated_marks</strong> is NOT required</li>
                    <li>
                        The choices should be on the colums <strong>choice_a, choice_b, ... </strong> and you can have
                        as many choices as possible
                    </li>
                    <li>The <strong>order of the columns</strong> does not matter.</li>
                    <li>
                        For the <strong>system to detect the correct answer</strong>, the answer column should contain
                        the title of the column with the correct answer i.e. <strong>choice_a or choice_b ...</strong>
                    </li>
                    <li>
                        Please download a <strong>Sample CSV file</strong> using this link:
                        <a href="/static/sample/questions_sample.csv">Sample CSV Download</a>
                    </li>
                </ul>
                    </p>

                    {% if errors and errors | length > 0 %}
                        <div class="center-block bg-danger error" style="padding: 5px; -webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;">
                            {% for error in errors %}
                                <p class="text-left" style="padding: 2px; margin: 0;">{{ error }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}

                    {{ wtf.quick_form(form, enctype='multipart/form-data') }}

                </div>
            </div>
        </div>
    </div>
{% endblock %}



